<h1>Votre espace</h1>



<h2>Vos mangas préférés</h2>

<table class="table table-hover">
	<thead>
		
		<th>Titre</th>
	
	</thead>

	<tbody>
		<% @spaces.each do |space| %>

		<% if space.manga_id %>


			<% @manga = Manga.find(space.manga_id) %>

			<tr>				
				<td><%= @manga.title_traduction%></td>
				<td><%= link_to '<button type="button" class="btn btn-primary">
				<strong>Afficher</strong></button>'.html_safe %></td>
				<td><%= link_to '<button type="button" class="btn btn-danger">
				<strong>Supprimer</strong></button>'.html_safe, space, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %></td>

			<% @manga = Manga.find(space.manga_id)%>

		<% else %>
			

		<% end %>
		
		<% end %>

	</tbody>

</table>

<hr>

<%= link_to '<button type="button" class="btn btn-primary">
<strong>Retour</strong></button>'.html_safe, mangas_path %>

</table>

