<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez confimer votre adresse mail en cliquant sur le lien suivant</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
