<h1>Edition de l'auteur</h1>

<%= render 'form', auteur: @auteur %>

<%= link_to '
<button type="button" class="btn btn-primary"><strong>Retour</strong></button>
'.html_safe, auteurs_path %>

<%= link_to '
<button type="button" class="btn btn-primary"><strong>Afficher</strong></button>
'.html_safe, @auteur %>
